.menu-bar{
    min-height: 100vh;
    background: #4f5061;
    padding-top: 60px;
    position: fixed;
}
.content{
    margin-left: 240px;
    padding-top: 60px;
    width: 82% !important;
    position: absolute;
}
.menu-bar a.nav-link{
    color: #e2e4f6;
}
.menu-bar a.nav-link.active{
    color: #f5ec15;
    background: none;
}   
.menu-bar a.nav-link:hover{
    color: #fff;
}   
.dropdown-menu{
    left: unset;
    right: 0;
}
.form-group span {
    right: 15px;
    z-index: 1;
    position: absolute;
    color: rgb(0 0 0 / 50%);
}