.menu-bar{
    height: 100vh;
    background: #4f5061;
    padding-top: 60px;
}
.content{
    padding-top: 60px;
}
.menu-bar a.nav-link{
    color: #e2e4f6;
}
.menu-bar a.nav-link.active{
    color: #f5ec15;
    background: none;
}   
.menu-bar a.nav-link:hover{
    color: #fff;
}   