@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
p{
    font-family: georgia;
    font-size: 18px;
}
.navbar{
    width: 100%;
    background: #00000080;
    position: absolute;
    z-index: 2;
    padding-bottom: 0;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Saira Condensed', sans-serif;
    border-bottom: 5px solid #fff;
}
.navbar-light .navbar-nav .nav-link{
    margin: 0 10px;
    letter-spacing: 0.05em;
    font-size: 18px;
    font-family: 'Saira Condensed', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
    color: #fff;
}
.navbar-collapse{
    margin-top: 95px;
}
.carousel-caption{
    width: 30%;
    position: absolute;
    right: unset;
    top: 300px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    font-family: 'Barlow', sans-serif;
}
.carousel-caption h2{
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 66px;
    color: #FFFFFF;
}
.carousel-caption--headline{
    width: 45%;
}
.carousel-caption--headline h2{
    padding: 25px 25px 0 25px;
    margin-bottom: 0;
    background: rgba(71, 64, 115, 0.5);
}
.carousel-caption--headline p{
    padding: 25px;
    background: rgba(71, 64, 115, 0.5);
}
.carousel-caption--headline .category{
    position: absolute;
    padding: 5px;
    top: -15px;
    background: #908EBF;
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.08em;
}
.carousel-caption p{
    font-family: 'Barlow', sans-serif;
}
i.bi-search{
    color: #fff;
}
.update-news{
    line-height: 0.5;
    border-bottom: 1px solid #908EBF;
}
.update-news h3{
    font-family: 'Saira Condensed', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 0;
    letter-spacing: 0.02em;
    color: #908EBF;
    line-height: 0.7;
}
.update-news a{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    margin-bottom: 0;
    color: #4F4D8C !important;
}
.update-news a:hover, .article a:hover, .headline-kanal a:hover{
    text-decoration: none;
}
.article h4{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #111111;
}
.article--opini h4{
    text-align: center;
}
.article--opini p{
    text-align: center;
    color: #111111;
}
.footer{
    padding: 10px 0;
    background: #F0F0F0;
}
.footer a.nav-link{
    line-height: 2;
    padding: 0 25px 0 0;
    font-family: 'Barlow';
    color: #111111;
}
.footer p{
    line-height: 2;
    font-family: 'Barlow';
    font-size: 16px;
    text-align: right;
    color: #111111;
    margin-bottom: 0;
}
.sidebar h4{
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    letter-spacing: 0.02em;
    color: #908EBF;
}
.sidebar p{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: #4F4D8C;
}
.title-page{
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 35px;
    letter-spacing: 0.02em;
    color: #908EBF;
    margin-bottom: 25px;
}
.navbar--page img{
    height: 70px;
}
.navbar--page .navbar-collapse{
    margin-top: 31px;
}
.navbar--page{
    position: relative;
    z-index: unset;
}
h1.title-page{
    border-bottom: 1px solid #908EBF;
}
.btn-cancel{
    background: #F0F0F0;
    color: #111;
}
.btn-submit{
    background: #9894FB;
    color: #fff;
}
.contact-form .form-control{
    background: #F0F0F0;
    border-radius: 0;
}
.contact-form .btn{
    padding: 5px 40px;
    border-radius: 0;
}
.title-kanal{
    border-bottom: 1px solid #908EBF;
}
.title-kanal h1{
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 35px;
    letter-spacing: 0.02em;
    color: #908EBF;
    margin-bottom: 0;
}
.title-kanal p{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 0;
    letter-spacing: -0.01em;    
    color: #111111;
    margin: 18px 0 0 25px;
}
.main-headline-title{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.01em;
    color: #111111;
}
.headline-title{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.01em;
    color: #111111;
}