@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&display=swap');
p{
    font-family: georgia;
    font-size: 18px;
}
.navbar{
    width: 100%;
    background: #00000080;
    position: absolute;
    z-index: 2;
    padding-bottom: 0;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Saira Condensed', sans-serif;
    border-bottom: 5px solid #fff;
}
.navbar-light .navbar-nav .nav-link{
    margin: 0 10px;
    letter-spacing: 0.05em;
    font-size: 18px;
    font-family: 'Saira Condensed', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
    color: #fff;
}
.navbar-collapse{
    margin-top: 95px;
}
.carousel-caption{
    width: 30%;
    position: absolute;
    right: unset;
    top: 250px;
    left: 9%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    font-family: 'Barlow', sans-serif;
}
.carousel-caption h2, .carousel-caption h2 a{
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 1;
    color: #FFFFFF;
}
.carousel-caption h2 a:hover{
    text-decoration: none;
}
.carousel-caption{
    width: 45%;
}
.carousel-caption h2{
    padding: 25px 25px 0 25px;
    margin-bottom: 0;
    background: rgba(71, 64, 115, 0.5);
}
.carousel-caption p{
    padding: 25px;
    background: rgba(71, 64, 115, 0.5);
}
.carousel-caption--headline .category{
    position: absolute;
    padding: 5px;
    top: -3px;
    background: #908EBF;
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 0.8;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}
.carousel-caption p{
    font-family: 'Barlow', sans-serif;
}
i.bi-search{
    color: #fff;
}
.update-news{
    line-height: 0.5;
    border-bottom: 1px solid #908EBF;
}
.update-news h3{
    font-family: 'Saira Condensed', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 0;
    letter-spacing: 0.02em;
    color: #908EBF;
    line-height: 0.7;
    text-transform: uppercase;
}
.update-news a{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    margin-bottom: 0;
    color: #4F4D8C !important;
}
.update-news a:hover, .article a:hover, .headline-kanal a:hover, .list-news a:hover{
    text-decoration: none;
}
.article h4{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #111111;
}
.article--opini h4{
    text-align: center;
}
.article--opini p{
    font-family: 'Barlow';
    text-align: center;
    color: #111111;
}
.footer{
    padding: 10px 0;
    background: #F0F0F0;
}
.footer a.nav-link{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 0.8;
    color: #111111;
}
.footer p{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 0.8;
    color: #111111;
    margin-bottom: 0;
    margin-top: 5px;
}
.sidebar h4{
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 0.8;
    letter-spacing: 0.02em;
    color: #908EBF;
}
.sidebar p{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 0.8;
    text-align: right;
    color: #4F4D8C;
}
.title-page{
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 0.8;
    letter-spacing: 0.02em;
    color: #908EBF;
    margin-bottom: 25px;
}
.navbar--page img{
    height: 70px;
}
.navbar--page .navbar-collapse{
    margin-top: 31px;
}
.navbar--page{
    position: relative;
    z-index: unset;
}
h1.title-page{
    border-bottom: 1px solid #908EBF;
}
.btn-cancel{
    background: #F0F0F0;
    color: #111;
}
.btn-submit{
    background: #9894FB;
    color: #fff;
}
.contact-form .form-control{
    background: #F0F0F0;
    border-radius: 0;
}
.contact-form .btn{
    padding: 5px 40px;
    border-radius: 0;
}
.title-kanal{
    border-bottom: 1px solid #908EBF;
}
.title-kanal h1{
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 0.8;
    letter-spacing: 0.02em;
    color: #908EBF;
    margin-bottom: 0;
}
.title-kanal p{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 0;
    letter-spacing: -0.01em;    
    color: #111111;
    margin: 25px 0 0 25px;
}
.main-headline-title{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #111111;
}
.headline-title{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #111111;
}
.headline-kanal{
    margin-bottom: 20px;
}
.headline-kanal p{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #111111;
}
.list-news h2{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #111111;
}
.list-news p{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #111111;
}
.btn-load-more{
    margin: 40px 0;
    border-radius: 0;
    padding: 10px 100px;
    background: #F0F0F0;
}
.input-group--search input{
    border: 1px solid #ccc;
    border-right: none;
}
.input-group--search .btn-search{
    border: 1px solid #ccc;
    border-left: none;
}
.breadcrumb{
    background: none;
    margin-bottom: 0;
    padding: 0.75rem 1rem 0.75rem 0;
}
.breadcrumb-item a{
    color: #111;
}
.breadcrumb-item.active{
    color: #999;
}
.news-detail h1{
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #111111;
}
.news-detail p.summary{
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #666666;

}
.detail-body p{
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.01em;
    color: #111111;
}
.news-detail .img-header{
    object-fit: cover;
    width: 100%;
}
.detail-info{
    width: 80%;
}
.detail-info p{
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 0.8;
    color: #111111;
    margin-bottom: 0;
}
.detail-info span{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 0.8;
    color: #999999;
}
.detail-share img{
    width: 25px;
}
.section-title{
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 0.8;
    letter-spacing: 0.02em;
    color: #908EBF;
}
.carousel-control-prev, .carousel-control-next{
    width: 3%;
    height: 50px;
    background: rgba(0,0,0,0.5);
    top: 50%;
}
.carousel-control-prev{
    left: 20px;
}
.carousel-control-next{
    right: 20px;
}
.detail-body img{
    width: 100%;
    height: auto;
    transition: 1s;
}
.detail-body img:hover{
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
    transition: 1s;
}
.carousel-inner{
    height: 700px;
}
.article--opini img{
    object-fit: cover;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
img.big-opini{
    object-fit: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}
img.reguler-opini{
    object-fit: cover !important;
    border-radius: 50%;
    width: 150px !important;
    height: 150px !important;
    display: block;
    margin: auto;
}
.alert-contactus{
    position: absolute;
    left: 50%;
}
.article img{
    object-fit: cover;
    width: 300px;
    height: 170px;
}
.article--opini img{
    object-fit: cover;
    width: 150px;
    height: 150px;
}
.headline-kanal img.big-img{
    object-fit: cover;
    width: 100%;
    height: 300px;
}
.headline-kanal img.big-opini{
    object-fit: cover;
    width: 300px;
    height: 300px;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    height: 50px;
}
.list-news img{
    object-fit: cover;
    width: 255px;
    height: 139px;
}
.detail-info .img-opini{
    object-fit: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.kanal-info .img-opini{
    object-fit: cover;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.kanal-info p{
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 0.8;
    color: #111111;
    margin-bottom: 0;
}
.img-socmed{
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.eapps-instagram-feed-title{
    display: none !important;
}
.caption-image{
    margin-top: 5px;
    margin-bottom: 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #666666;
}
@media screen and (max-width: 425px) {
    .navbar-brand img{
        width: 100px;
    }
    .carousel-inner{
        height: 600px;
    }
    .carousel-item img{
        object-fit: cover;
        height: 600px;
    }
    .carousel-caption{
        padding: 15px;
        width: 100%;
        left: 0;
        bottom: 0;
        top: unset;
        z-index: 1;
    }
    .carousel-caption h2{
        font-size: 46px;
        line-height: 1;
    }
    .carousel-caption--headline h2{
        line-height: 0.8;
    }
    .carousel-caption--headline h2 a{
        font-size: 30px;
    }
    .carousel-caption--headline{
        width: 100%;
    }
    .carousel-caption--headline h2{
        padding: 15px;
    }
    .carousel-caption p{
        padding-top: 20px;
    }
    .carousel-caption--headline p{
        padding: 0 15px 15px 15px;
    }
    .carousel-caption--headline .category{
        top: -8px;
    }
    .navbar-collapse{
        margin-top: 0;
    }
    .navbar-light .navbar-toggler-icon{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .navbar-collapse .ml-5{
        margin-left: 0 !important;
    }
    .footer p{
        margin-left: 15px;
    }
    .navbar, .navbar--page{
        position: fixed;
        z-index: 2;
        background: #908EBF;
    }
    .container .pt-5{
        padding-top: 120px !important;
    }
    .title-kanal{
        margin-top: 0 !important;
        padding-top: 120px;
    }
    .title-kanal p{
        font-size: 16px;
        line-height: 1.5;
        margin: 10px 0 0 0;
    }
    .img-banner{
        width: 75%;
        height: auto;
        display: block;
        margin: auto;
    }
    .sidebar{
        margin-top: 20px;
    }
    .breadcrumb.mt-3{
        margin-top: 0 !important;
        padding-top: 120px;
    }
    .article img{
        object-fit: cover;
        width: 100%;
        height: auto;
    }
    .article--opini img{
        object-fit: cover;
        width: 150px;
        height: 150px;
    }
    .headline-kanal img.big-img{
        height: auto;
    }
    .list-news img{
        width: 100%;
        height: auto;
    }
    .headline-kanal img{
        width: 100%;
        height: auto;
    }
    .headline-kanal img.big-opini{
        height: 150px;
        width: 150px;
    }
    .detail-info{
        width: 50%;
    }
    .detail-share img{
        width: 30px;
    }
}