@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
.navbar{
    width: 100%;
    background: #00000080;
    position: absolute;
    z-index: 2;
    padding-bottom: 0;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Saira Condensed', sans-serif;
    border-bottom: 5px solid #fff;
}
.navbar-light .navbar-nav .nav-link{
    margin: 0 10px;
    letter-spacing: 0.05em;
    font-size: 18px;
    font-family: 'Saira Condensed', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
    color: #fff;
}
.navbar-collapse{
    margin-top: 95px;
}
.carousel-caption{
    width: 30%;
    position: absolute;
    right: unset;
    top: 300px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    font-family: 'Barlow', sans-serif;
}
.carousel-caption h2{
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 66px;
    color: #FFFFFF;
}
.carousel-caption--headline{
    width: 45%;
}
.carousel-caption--headline h2{
    padding: 25px 25px 0 25px;
    margin-bottom: 0;
    background: rgba(71, 64, 115, 0.5);
}
.carousel-caption--headline p{
    padding: 25px;
    background: rgba(71, 64, 115, 0.5);
}
.carousel-caption--headline .category{
    position: absolute;
    padding: 5px;
    top: -14px;
    background: #908EBF;
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.08em;
}
i.bi-search{
    color: #fff;
}